{{#each combinedColumnData as |columnData|}}
    <td class="{{if columnData.row.iconClass 'batch-cell-icon'}} {{if columnData.column.verticalTableBreakAfter 'vertical-break-after'}} {{if columnData.row.additionalClasses columnData.row.additionalClasses}}">
        <div class="row">
            <div class="col-xs-12">
              {{#if (or (not columnData.control.type) columnData.row.readOnly)}}
                  <span>
                    {{columnData.row.value}}
                    {{#if columnData.row.postfixSymbol}}
                        <span class="postfix-symbol">{{columnData.row.postfixSymbol}}</span>
                    {{/if}}
                    {{#if columnData.row.iconClass}}
                        <i class="fa {{columnData.row.iconClass}}" style="color: {{columnData.row.iconColor}}"></i>
                    {{/if}}
                  </span>
              {{else if (eq columnData.control.type 'text')}}
                  <div class="flex-container">
                      <div class={{if columnData.row.postfixSymbol 'postfix-symbol-input'}}>
                        {{ember-input-trim
                        id=(unique-name-helper model=(concat "text" headerInputModel) name=columnData.column.input dbid=index)
                        type="text"
                        class="form-control"
                        value=columnData.row.value
                        placeholder=columnData.control.placeHolder
                        disabled=(or columnData.column.bulkChecked row.locked)
                        focus-out=(action "updateRow" columnData)
                        }}
                      </div>
                    {{#if columnData.row.postfixSymbol}}
                        <div class="postfix-symbol-container">
                            <span class="postfix-symbol">{{columnData.row.postfixSymbol}}</span>
                        </div>
                    {{/if}}
                  </div>
              {{else if (eq columnData.control.type 'float')}}
                  <div class="flex-container">
                      <div class={{if columnData.row.postfixSymbol 'postfix-symbol-input'}}>
                        {{ember-input-float
                        id=(unique-name-helper model=(concat "float" headerInputModel) name=columnData.column.input dbid=index)
                        value=columnData.row.value
                        placeholder=columnData.control.placeHolder
                        disabled=(or columnData.column.bulkChecked row.locked)
                        focus-out=(action "updateRow" columnData)
                        nullable=true
                        fixedDecimalPlaces=columnData.control.fixedDecimalPlaces
                        }}
                      </div>
                    {{#if columnData.row.postfixSymbol}}
                        <div class="postfix-symbol-container">
                            <span class="postfix-symbol">{{columnData.row.postfixSymbol}}</span>
                        </div>
                    {{/if}}
                  </div>
              {{else if (eq columnData.control.type 'checkbox')}}
                  <div class="checkbox multisearch-checkbox">
                      <label>
                        {{input
                        id=(unique-name-helper model=(concat "checkbox" headerInputModel) name=columnData.column.input dbid=index)
                        type="checkbox"
                        checked=columnData.row.value
                        disabled=(or columnData.column.bulkChecked row.locked)
                        }}
                      </label>
                  </div>
              {{else if (eq columnData.control.type 'select')}}
                {{ember-selectize
                class='multisearch-select'
                disabled=(or columnData.column.bulkChecked row.locked)
                content=columnData.control.content
                placeholder=columnData.control.placeHolder
                optionValuePath=columnData.control.optionValuePath
                optionLabelPath=columnData.control.optionLabelPath
                value=columnData.row.value
                select-value=(action "updateRow" columnData)
                id=(unique-name-helper model=(concat "select" headerInputModel) name=columnData.column.input dbid=index)
                }}
                {{#if columnData.row.postfixSymbol}}
                    <span class="postfix-symbol">{{columnData.row.postfixSymbol}}</span>
                {{/if}}
              {{else if (eq columnData.control.type 'multiselect')}}
                {{ember-selectize
                class='multisearch-multiselect'
                disabled=(or columnData.column.bulkChecked row.locked)
                content=columnData.control.content
                multiple=true
                placeholder=columnData.control.placeHolder
                optionValuePath=columnData.control.optionValuePath
                optionLabelPath=columnData.control.optionLabelPath
                selection=columnData.row.value
                id=(unique-name-helper model=(concat "multiselect" headerInputModel) name=columnData.column.input dbid=index)
                select-value=(action "updateRow" columnData)
                }}
                {{#if columnData.row.postfixSymbol}}
                    <span class="postfix-symbol">{{columnData.row.postfixSymbol}}</span>
                {{/if}}
              {{else if (eq columnData.control.type 'date')}}
                  <div class="ember-batch-edit-date-wrapper ">
                      <div class="ember-pikaday-input-wrapper ">
                        {{pikaday-input
                        disabled=(or columnData.column.bulkChecked row.locked)
                        value=columnData.row.value
                        placeholder=columnData.control.placeHolder
                        onSelection=(action 'updateRowDate' columnData (mut columnData.row.value))
                        yearRange="10"
                        format=dateFormat
                        id=(unique-name-helper model=(concat "date" headerInputModel) name=columnData.column.input dbid=index)
                        }}
                        {{#if (not (or columnData.column.bulkChecked row.locked))}}
                          {{#ember-pikaday-clear-icon disabled=(or columnData.column.bulkChecked row.locked) action=(action 'updateRowDate' columnData columnData.row.value null) targetDate=columnData.row.value icon='fa-times'}}{{/ember-pikaday-clear-icon}}
                        {{/if}}
                      </div>
                  </div>
              {{/if}}
              {{#if columnData.row.showTooltip}}
                  <div class="batch-edit-cell-info-container"> {{tooltip-popover title=columnData.row.tooltipTitle iconClass=columnData.row.tooltipIconClass iconColor=columnData.row.tooltipIconColor message=columnData.row.tooltipMessage}} </div>
              {{/if}}
            </div>
        </div>
    </td>
{{/each}}
{{#if lockable}}
    <td class="w-100 batch-lock" {{action "clickLock" columnData}}>
      {{#if row.locked}}
          <div class="fa fa-lock batch-lock-icon"></div>
      {{/if}}
      {{#if (not row.locked)}}
          <div class="fa fa-unlock batch-lock-icon" style="visibility: {{if unlockOnly 'hidden'}}"></div>
      {{/if}}
    </td>
{{/if}}

{{#confirm-dialog
action="afterConfirmUnlockRow"
confirmDialogId=unlockRowDialogName
showCheckbox=unlockConfig.showCheckbox
checkboxMessage=unlockConfig.checkboxMessage
headerIconColor=unlockConfig.headerIconColor
headerIconClass=unlockConfig.headerIconClass
headerText=unlockConfig.headerText
headerTextColor=unlockConfig.headerTextColor
titleIconColor=unlockConfig.titleIconColor
titleIconClass=unlockConfig.titleIconClass
titleText=unlockConfig.titleText
titleTextColor=unlockConfig.titleTextColor
confirmText=unlockConfig.confirmText
cancelText=unlockConfig.cancelText
}}
  {{{unlockConfirmationMessage}}}
{{/confirm-dialog}}
{{#confirm-dialog
action="afterConfirmLockRow"
confirmDialogId=lockRowDialogName
showCheckbox=lockConfig.showCheckbox
checkboxMessage=lockConfig.checkboxMessage
headerIconColor=lockConfig.headerIconColor
headerIconClass=lockConfig.headerIconClass
headerText=lockConfig.headerText
headerTextColor=lockConfig.headerTextColor
titleIconColor=lockConfig.titleIconColor
titleIconClass=lockConfig.titleIconClass
titleText=lockConfig.titleText
titleTextColor=lockConfig.titleTextColor
confirmText=lockConfig.confirmText
cancelText=lockConfig.cancelText
}}
  {{{lockConfirmationMessage}}}
{{/confirm-dialog}}
