{{#twbs-popover placement="bottom" popoverTrigger="click" as |popover|}}
  {{#popover.trigger}}
      <a id="toggle-popover" class="pointer"><i class="fa {{popoverIconClass}} batch-edit-info-circle" style="color: {{popoverIconColor}}"></i></a>
  {{/popover.trigger}}

  {{#popover.content}}
      <div class="row batch-edit-popover-container">
          <span class="batch-edit-popover-title"> {{title}} </span>
          <span class="batch-edit-popover-message"> {{message}} </span>
      </div>
  {{/popover.content}}
{{/twbs-popover}}
