<h2 id="title">ember-batch-edit-table</h2>

<div class="row">
  <div class="col-xs-1"></div>
  <div class="col-xs-10">
    {{table-batch-edit-rows
      rowData=tableConfig.rowData
      columns=tableConfig.columns
      headerInputs=tableConfig.headerInputs
      headerInputActions=(hash finalGrade=(action 'passedCourse'))
      lockable=tableConfig.lockable
      unlockOnly=tableConfig.unlockOnly
      bulkLockable=tableConfig.bulkLockable
      bulkLockRequiresConfirmation=tableConfig.bulkLockRequiresConfirmation
      updateData = (action "updateData")
      showTooltip=true
      tooltipMessage="This is the content"
      tooltipTitle="This is the title"
      observedProperties=tableConfig.observedProperties
      dateFormat="MM/YY"
    }}
  </div>
</div>

{{outlet}}
